.main.container {
  padding-top: 4em;
}

.section.header {
  border-bottom: solid 1px #666;
}

.side.nav {
  text-align: right;
}

a < .side.nav {
  text-decoration: underline;
  color: black;
}

.page.header {
  font-size: 2.5em;
  border-bottom: solid 1px #666;
}

div#footer {
    border-top: solid 1px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}
